@{
    ViewBag.Title = "聯絡資訊";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>

    姓名：Kevin<br />
    EMail：<a href="mailto:bau455.tw@yahoo.com.tw">bau455.tw@yahoo.com.tw</a><br />
 
</address>

 